*
{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body
{
   background-image: url(../assets/wallhaven-e7ek7k.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}
.header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* background-color: black; */
}
.logo
{
  margin-left: 42px;
}
a
{
  text-decoration: none;
  color: azure;
}
.nav
{
  margin-right: 60px;
  display: flex;
  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 0s;
  font-weight: 600;
}
.nav li
{
    list-style: none;
}
.nav li a 
{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  margin: 4px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: 0.6s ease;
}
.nav a:hover
{
  background-color: #fff;
  color: #000;
}
.content
{
  position: relative;
  height: 200px;
  width: 500px;
  color: white;
  margin: 20px;
  padding: 20px;
  transform: translate(30px,170px);
}
.section::after
{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.486);
  width: 50px;
  top: 0;
  right: 0;
  height: 100%;
}
h2
{
font-size: 65px;
user-select: none;
text-align: left;
display: flex;
justify-content: flex-start;
}
button
{
  color: beige;
  background: transparent;
  border-radius: 20px;
  border: white 1px solid;
}
.content button a 
{
  color: beige;
  background: transparent;
  padding: 5px 20px;
  border-radius: 20px;
  border: white 1px solid;
}
.content button a:hover 
{
  background: white;
  color: black;
}
.section::before
{
  content:'';
  background-image: linear-gradient(black);
}
